<section class="sponsors">
  <div class="sponsors-container">

    <!-- Row 1 -->
    <div class="sponsors-row">
      <a routerLink="#" class="sponsor-item" *ngFor="let sponsor of sponsorsRow1">
        <img [src]="sponsor.src" [alt]="sponsor.alt" class="sponsor-logo" />
      </a>
    </div>

    <!-- Row 2 -->
    <div class="sponsors-row">
      <a routerLink="#" class="sponsor-item" *ngFor="let sponsor of sponsorsRow2">
        <img [src]="sponsor.src" [alt]="sponsor.alt" class="sponsor-logo" />
      </a>
    </div>

  </div>
</section>